

{{> head}}

        {{> navbar}}

      <div class="row">
          <div class="col-md-8">
            <h1>Mostrando una imagen</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tempore omnis assumenda atque veniam architecto obcaecati consequatur voluptatibus illum sapiente dignissimos et, quia minus? Iure, voluptas fuga. Esse, tenetur vitae.</p>
          </div>
          <div class="col-md-4">
            <img src="./src/image/117959526_10158718095392138_4248077811298751761_n.jpg" class="img-thumbnail" width="350"alt="">
          </div>
      </div>

{{> footer}}